body {
  background: linear-gradient(rgb(216, 211, 211), rgba(245, 241, 241, 0.542))
    no-repeat;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-attachment: fixed;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  margin-bottom: 50px;
}

.navlinks {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 10px;
}
h1 {
  color: black;
}

main {
  display: flex;
  justify-content: space-around;
}

img {
  width: 300px;
  border-radius: 30px;
}
